body {
  min-height: 100vh;
  /* z-index: 1000; */
  cursor: url("images/dbzcursor.png"), auto;
}

.page-color {
  background-color: #5e7787;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.backgroundVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: opacity(50%);
}

.title {
  color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  /* position: absolute; */
  z-index: 1000;
  /* margin-bottom: 400px; */
}

.container {
  position: relative;
  height: 300px;
  width: 500px;
  /* background-color: #8a979e; */
  border-radius: 8px;
  text-align: center;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); */
  /* position: absolute; */
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#countdown {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin: 80px 0 auto 0;
  cursor: pointer;
  border: 0;
}

.timer-container {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}

input#mins.time {
  background: rgba(0, 0, 0, 0);
  /* background-color: #8a979e; */
  border: none;
  font-size: 100px;
  outline: none;
  color: white;
  /* width: 100px;
  height: 100px; */
  text-align: center;
  z-index: 1000;
}

input#secs.time {
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: 100px;
  outline: none;
  color: white;
  -webkit-appearance: none;
  text-align: center;
  z-index: 1000;
}

input#mins.time::-webkit-inner-spin-button {
  display: flex;
  height: 50px;
  align-self: center;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
}

input#secs.time::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.semicolon {
  font-size: 100px;
  color: white;
  display: flex;
  align-self: center;
  margin: 0;
}

#startStopButton {
  color: white;
  height: fit-content;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  cursor: pointer;
  transition: font-size 0.2s ease-out;
  margin: 180px 0 0 0;
  cursor: url("images/dbzcursor.png"), auto;
}

#startStopButton:hover {
  font-size: 24px;
  transition: font-size 0.2s ease-in;
}

#secs {
  pointer-events: none;
}

#mins {
  cursor: text;
}
