body {
  min-height: 100vh;
  /* z-index: 1000; */
  cursor: url("images/soundOn.png"), auto;
  position: relative;
}

.page-color {
  background-color: #5e7787;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#backgroundVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: opacity(50%);
}

.title {
  color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  /* margin-bottom: 400px; */
  margin: 0 0 300px 0;
}

.container {
  position: relative;
  height: 300px;
  width: 500px;
  /* background-color: #8a979e; */
  border-radius: 8px;
  text-align: center;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); */
  position: absolute;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#countdown {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin: 80px 0 auto 0;
  cursor: pointer;
  border: 0;
}

.timer-container {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}

input#mins.time {
  background: rgba(0, 0, 0, 0);
  /* background-color: #8a979e; */
  border: none;
  font-size: 100px;
  outline: none;
  color: white;
  /* width: 100px;
  height: 100px; */
  text-align: center;
  z-index: 1000;
}

input#secs.time {
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: 100px;
  outline: none;
  color: white;
  -webkit-appearance: none;
  text-align: center;
  z-index: 1000;
}

input#mins.time::-webkit-inner-spin-button {
  display: flex;
  height: 50px;
  align-self: center;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
}

input#secs.time::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.semicolon {
  font-size: 100px;
  color: white;
  display: flex;
  align-self: center;
  margin: 0;
  cursor: url("images/dbztextcursor.png"), auto;
}

#startStopButton:disabled {
  color: #d3d3d3;
}

#startStopButton {
  color: white;
  height: fit-content;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  cursor: pointer;
  transition: font-size 0.2s ease-out;
  margin: 180px 0 0 0;
  cursor: url("images/dbzcursor.png"), auto;
}

#startStopButton:hover {
  font-size: 24px;
  transition: font-size 0.2s ease-in;
}

#secs {
  pointer-events: none;
}

#mins {
  cursor: url("images/dbztextcursor.png"), auto;
}

#twitterHandle {
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: url("images/dbzcursor.png"), auto;
  transition: font-size 0.2s ease-out;
  font-size: 16px;
  /* align-self: flex-end; */
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 16px;
}

#twitterHandle:hover,
#deepWorkLink:hover {
  font-size: 18px;
  transition: font-size 0.2s ease-in;
}

#twitterHandle:hover span,
#deepWorkLink:hover span {
  display: none;
}

#twitterHandle:hover:before {
  content: "作られた";
  font-family: "Montserrat", sans-serif;
}

#deepWorkLink:hover:before {
  content: "深い仕事 仮説";
  font-family: "Montserrat", sans-serif;
}

#deepWorkLink {
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: url("images/dbzcursor.png"), auto;
  transition: font-size 0.2s ease-out;
  font-size: 16px;
  /* align-self: flex-end; */
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px;
}

a {
  text-decoration: none;
}
