body {
  min-height: 100vh;
}

.page-color {
  background-color: #5e7787;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
}

.container {
  position: relative;
  height: 300px;
  width: 500px;
  background-color: #8a979e;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#countdown {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin: 80px 0 auto 0;
  cursor: pointer;
  border: 0;
}

.timer-container {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}

input#mins.time {
  background-color: #8a979e;
  border: none;
  font-size: 100px;
  outline: none;
  color: white;
  /* width: 100px;
  height: 100px; */
  text-align: center;
}

input#secs.time {
  background-color: #8a979e;
  border: none;
  font-size: 100px;
  outline: none;
  color: white;
  -webkit-appearance: none;
  text-align: center;
}

input#mins.time::-webkit-inner-spin-button {
display: flex;
height: 50px;
align-self: center;
color: white;
cursor: pointer;
-webkit-appearance: none;
}

input#secs.time::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.semicolon {
    font-size: 100px;
    color: white;
    display: flex;
    align-self: center;
    margin: 0
}

#startStopButton {
  color: white;
  height: fit-content;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  cursor: pointer;
  transition: font-size 0.2s ease-out;
  margin: 180px 0 0 0;
}

#startStopButton:hover {
  font-size: 24px;
  transition: font-size 0.2s ease-in;
}
